* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 200px;
  margin-left: 50px;
}

.nav {
  background-color: #f1f5f9;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.select {
  width: 50%;
  padding: 20px;
  border: 2px solid #e2e8f0;
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  margin: 70px;
}
